<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/formUpdata.css">
    <title>Document</title>
</head>
<body>

    <form action="/updateItem" method="POST" class="form" id="form" enctype="multipart/form-data">
        <h1 class="form__header">Update</h1>
        <p><%= item.avarta %> </p>
        <div class="form__controll">
            <label for="id" class="form__lable">Id</label> 
       <input type="text" name="id" id="" value="<%= item.id %>" class="form__input" placeholder="Enter infomation">
       <small></small>
   </div>
        <div class="form__controll">
            <img style="width: auto;height: auto;" src="/<%= item.avarta %> " alt="">
             <label for="avartar" class="form__lable">avarta</label> 
             <input style="visibility:hidden;" type="text" name="oldid" value="<%= item.avarta %> ">
        <input type="file" name="avarta" id="form__input" value="<%= item.avarta %> " class="form__input" placeholder="Enter infomation">
        <small></small>
    </div>
        <fieldset class="form__fieldset">
            <legend>information</legend>
            <div class="form__controll">
            <label for="foodName" class="form__lable">foodName</label> 
            <input type="text" name="foodName" id=""  class="form__input" placeholder="Enter infomation" value="<%= item.information.foodName %> ">

             <small></small>
            </div>
            <div class="form__controll">
                <label for="origin" class="form__lable">origin</label> 
                <input type="text" name="origin" id="" value="<%= item.information.origin %>" class="form__input" placeholder="Enter infomation">
                 <small></small>
                </div>
            
        </fieldset>

        <fieldset class="form__fieldset">
            <legend>ingredient</legend>
            <div class="form__controll">
            <label for="nameIngredient" class="form__lable">nameIngredient</label> 
            <input type="text" name="nameIngredient" id="" value="<%= item.ingredient.nameIngredient %>" class="form__input" placeholder="Enter infomation">
             <small></small>
            </div>
            <div class="form__controll">
                <label for="mass" class="form__lable">mass</label> 
                <input type="text" name="mass" id="" value="<%= item.ingredient.mass %>" class="form__input" placeholder="Enter infomation">
                 <small></small>
                </div>
            
        </fieldset>
        <div class="form__controll">
            <label for="list" class="form__lable">list</label> 
            <input type="text" name="list" id="" value="<%= item.list %>" class="form__input" placeholder="Enter infomation">
             <small></small>
            </div>

       <input type="submit" value="Supmit" class="form__supmit">
    </form>


  
</body>
</html>