<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ProjectJs/styles.css" />
    <link rel="stylesheet" href="style/index.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="header">
      <div class="header__logo">
        <img src="ProjectJs/public/image/logo.png" alt="" />
      </div>
      <div class="header__links">
        <div class="header__links--home"><a href="getHome">Home</a></div>
        <div class="header__links--home">About us</div>
        <div class="header__links--home">Menu</div>
        <div class="header__links--home">Feature</div>
        <div class="header__links--home">Contact us</div>
      </div>
      <button class="header__button">Booking Now</button>
    </div>
    <div class="main">
      <div class="main__top">

        <div class="main__top--header"><a href="getHome">Trang Chu >>>>>></a> <span><%= datas.information.foodName %> </span></div>
        <img
          class="main__top--image"
          src="/<%= datas.avarta %> "
          alt=""
        />
        <div class="main__top--groupIcon">
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
        </div>
      </div>
      <div class="main__body">
        <h1>Cach lam <%= datas.information.foodName %> </h1>
        <h2 class="main__body--congThuc">CONG THUC</h2>
        <p class="main__body--gioiThieu">
          <%= datas.information.origin %> 
        </p>

        <p class="main__body--lable">Nguyen Lieu</p>
        <h1>Cach lam ------</h1>
        <ul class="main__body--">
         <% let a = datas.ingredient.nameIngredient.length %> 
        <% for(let i = 0 ; i < a; i++){ %> 
          <li><%= datas.ingredient.nameIngredient[i] %> -- <%= datas.ingredient.mass[i] %>  </li>  
          <% } %> 
        </ul>
      </div>

      <h4 main__body--cachLam>Cach lam</h4>
      <!-- ejs -->
      <p class="main__body--nameCL">1. Chuẩn bị:</p>
      <!-- ejs -->
      <% for(let i = 0; i < a ; i++){ %> 
      <p class="main__body--buoc">
        <%= datas.ingredient.list[i] %> 
      </p>
      <% } %> 
    </div>
  </body>
  <script src=""></script>
</html>
